# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
.pnp
.pnp.js

# Build Outputs & Framework Caches
.next/
*/.next/
.expo/
*/.expo/
dist/
*/dist/
build/
*/build/
web-build/
*/web-build/
out/
*/out/

# .NET & Visual Studio Caches
[Bb]in/
*/[Bb]in/
*/*/[Bb]in/
[Oo]bj/
*/[Oo]bj/
*/*/[Oo]bj/
.vs/
*/.vs/
*/*/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# TypeScript
*.tsbuildinfo
next-env.d.ts
*/next-env.d.ts
expo-env.d.ts
*/expo-env.d.ts

# Environment Variables
.env*.local
.env

# Mobile Native Builds
/mobile/ios/
/mobile/android/
.kotlin/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Testing & Logs
coverage/
*/coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
e2e/output/
*/e2e/output/

# OS Specific
.DS_Store
Thumbs.db
ehthumbs.db
